files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDMzCCAhsCFGh5dKXI6GLgDsnBCytp7WEnc8iHMA0GCSqGSIb3DQEBCwUAMFYx
      CzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4xEDAOBgNVBAcMB01hZGlz
      b24xITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yNjAyMjAx
      NzU0NTJaFw0yNzAyMjAxNzU0NTJaMFYxCzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlX
      aXNjb25zaW4xEDAOBgNVBAcMB01hZGlzb24xITAfBgNVBAoMGEludGVybmV0IFdp
      ZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAL6X
      tdvZvi7vep7Rh+Ad2hiJoEnZfFR7MBCJZbOvr3lwNsMslu/akbhY5EduhUFXqs1P
      SLC92lIRtytO1PB2gk+TnLTfagfmFJsh3iO2NRyE3OcNQbjispwKUvdkSlqAhxyV
      lHCT5JBemUMMYrCie6CBN6l+7+uNWWKEH9Jpd5qouBCtvI7QgFuq3o9KgrmzZN84
      GsO6sDh1TtbTBx0slXcQg7tVBw1s/jZg3s2dfEQdc4cs2SDzFfLhgNIttNUO0YRh
      Xe069zOkVAgdcMqPBrVdmrzgNe1Xf1rb/akQYa3Kwc7XDbsIqtKTicgktFvlMvfX
      HCEAGEzvY/8vjf5gK3kCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEADJtaJwjBY20q
      bT7XpR98EZCJMyXv0VgsUYs7jBsAe2DJVEQ4Ri8GgHdmsVGQM1rwnP91Y0r/FEvc
      jJqPoD7JAEo6EpWmZJEr04mPiwBmU6aqpS3NzStspUJ3Sa/el4OgQDDwgJ++mRiY
      YutePxGJIKpwPDnPMPqq6fCKnkehLPYL282h6HJuZEzUhspgRpm+DFrtb9yHFCy1
      FSP3QJZSWTZnXN6iJRTKw75nGerwzVwQmxio3lKv5GGbApnnI59tWecn2z3eWzYw
      mXhi2FS0zN9Ouz9xDhuVrSrg8hv8xya0TU4IDTEAsBdwcDgYN0iRc90G9PoWsXDq
      51JOkwPLZA==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      private key contents 
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart